@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SlickFont';
  src: url('/node_modules/slick-carousel/slick/fonts/slick.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes marquee-reverse {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.animate-marquee {
    animation: marquee 10s linear infinite;
}
.animate-marquee-reverse {
    animation: marquee-reverse 10s linear infinite;
}


.container-block-02 {
    container-type: inline-size;
}
@container (max-width: 1100px) {
    .container-block-02 *:nth-child(2),
    .container-block-02 *:nth-child(3) {
        display: none;
    }
}

@container (max-width: 1100px) {
    .container-block-02 > div{
        font-size:12px !important;
    }
}

.progress-wrap {
    position: fixed;
    right: 30px;
    bottom: 100px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(136, 19, 214, 0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .progress-wrap::after {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    color: #1f2029;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .lightScrollIcon::after {
    color: #ecedf3 !important;
  }
  
  .progress-wrap:hover::after {
    opacity: 0;
  }
  
  .progress-wrap::before {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    opacity: 0;
    background-image: linear-gradient(298deg, #5f25cc, #a54ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap:hover::before {
    opacity: 1;
  }
  
  .progress-wrap svg path {
    fill: none;
  }
  
  .progress-wrap svg.progress-circle path {
    stroke: #aa3ddc;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }

 